@charset "UTF-8";
body{
color:#636363;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
position: relative; 
min-height: 100%;
top: 0px;
text-shadow:none;
}
#wrapperFPP{
height:100%;
overflow:hidden;
position:relative;
}

/*Logo,text and fixed header css*/
.header-cont {
width:100%;
position:fixed;
top:0px;
}

.fheader {
1padding:10px;
height:60px;
width:100%;
background:none repeat scroll 0 0 #8ABAF1;
position: relative;
text-align: center;
z-index: 100;
}

.topLogoTxt{

clear: both;
overflow: hidden;

}
.wLogo{
width:12%;
float:left;
margin-top:10px;
}
.headerTxt{
width:78%;
float:left;
color:#fff;
text-align:center;
height:44px;
line-height:3em;
font-weight:bold;
font-size:1.5em;
}

/*Header Menus*/
.headMenuOpt {
padding:0;
margin:0;
list-style-type:none;
font-weight:900;
height:30px;
width:100%;
background-repeat: no-repeat;
border-bottom: 1px solid #178acc;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
filter: none;
background-color: #335692;
border-color: #1995dc;
box-shadow: 0 1px 4px rgba(71, 71, 72, 0.3);
overflow: hidden;
}

.headMenuOpt li {
text-align:center;
font-weight:900;
float:left;
display:inline;
}
.headMenuOpt li a {
padding:5px 20px;
display:block;
color:#fff;
text-decoration:none;
font:14px "Helvetica", sans-serif,Gadget;
font-weight:900;
min-width:150px;
}

.headMenuOpt li:hover {
position:relative; 
height:30px;
1background:rgb(108, 171, 231); 
background: radial-gradient(circle at 1.98% 40.96% , #00c6ff, transparent 100%) repeat scroll 0 0%, radial-gradient(circle at 98.02% 52.04% , #0072ff, transparent 100%) repeat scroll 0 0%, radial-gradient(circle at 50% 50% , #0cc285, #0cc285 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.active{
height:30px;
background: radial-gradient(circle at 1.98% 40.96% , #00c6ff, transparent 100%) repeat scroll 0 0%, radial-gradient(circle at 98.02% 52.04% , #0072ff, transparent 100%) repeat scroll 0 0%, radial-gradient(circle at 50% 50% , #0cc285, #0cc285 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);

}
  .or-spacer {
margin-top: 15px;
width: 100%;
/*position: relative;*/
}
.or-spacer .mask {
overflow: hidden;
height: 20px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 25px;
  box-shadow: 0 0 8px gray;
}
#mainContent{
1margin-top:150px;
}
.positionWrap,.dropMain{
overflow:hidden;
margin:0 auto;

}

.dropMain{
width:750px;
}
#dropControls{
width:600px;
float:left;

font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#dropControls span{
1padding:0 10px;
display:inline-block;
font-size:1.5em;
color:#636363;
text-align:right;
margin:2px 4px;
font-weight:bold;
line-height:30px;
}
#dropControls select{
1margin-top:2px;
margin-right:1px;
display:inline-block
}
#scoreView{
margin-top:1px;
font-weight:bold;
}
.viewButton{
background-color: #8abaf1;
    background-image: -moz-linear-gradient(center top , #8abaf1, #458edd);
	border-radius:6px;
	  1box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(100, 100, 100, 0.3);
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   padding:5px;
	 border-bottom-color: #1777b7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
       border-right-width-value: 1px;
    border-top-color: #1777b7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
	 border-left-color: #1777b7;
	 border-left-style: solid;
    border-left-width: 1px;
	 border-right-color: #1777b7;
	 border-right-style: solid;
    border-right-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(100, 100, 100, 0.3);
    color: #fff;
	
}
.viewButton:hover {
    background-attachment: scroll, scroll, scroll;
    background-clip: border-box, border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(circle at 1.98% 40.96% , #00c6ff, transparent 100%), radial-gradient(circle at 98.02% 52.04% , #0072ff, transparent 100%), radial-gradient(circle at 50% 50% , #0cc285, #0cc285 100%);
    background-origin: padding-box, padding-box, padding-box;
    background-position: 0 0%, 0 0%, 0 0;
    background-repeat: repeat, repeat, repeat;
    background-size: auto auto, auto auto, auto auto;
   
}
.panelWTD {
    background-color: #fff;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 0px;
	
    border-color: #dfe8f1;
	width:96%;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}
.panelWTD{
height:60px;
overflow:hidden;
}
.panelHeader{
text-align:center;padding:5px;font-size:1.1em;font-weight:bold;
background-color:#8abaf1;
background-image: -moz-linear-gradient(center top , #8abaf1, #458edd);
    background-repeat: repeat-x;color:#FFFFFF
	}
	.totalTxt{
	float:left;
	width:10%;
	min-width:100px;
	padding:7px 10px;
	border-right:1px solid #C6C6BC;
	font-weight:bold;
	text-align:center;
	display:block;
	}
	
#secContainer{
border:1px solid #dfe8f1;
width:95%;
background:#ffff;
box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
margin:0 auto;
margin-top:15px;
padding:10px;

}
#throwPercent{
display:block;
width:85%;
padding:7px 10px;
min-width:875px;
float:left;
text-align:center;
}	
.outerSec{
overflow:hidden;
}

.container-fluid{
width:96%;
margin:0 auto;
padding:10px 10px;
margin-top:25px;
}

.chartHead{
box-shadow:0px;
background:none;
padding:5px; 
background-image: -moz-linear-gradient(center top , #ececec, #ececec);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #D2D1C9;
   font-weight:bold;
    height: 12px;
     min-height: 20px;
	 margin-bottom:1px;
	 background: none repeat scroll 0 0 #ececec;
	 color:#3695D2;
	 1min-width:1230px;
	 text-align:center;
	 font-size:1.2em;
	 
	
}
.titleDiv{
width:48%;padding:10px 12px;
height:10px;
border-bottom:1px solid #D2D1C9;
border-right:1px solid #ccc;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
margin:0px;
text-align:center;
color:#3498db;
font-weight:bold;
float:left;
min-width:586px;

}
.chartContent{
width:100%;width:48%;float:left;min-width:580px;padding:0px 12px;

}
.containerChart{border:1px solid #D2D1C9;overflow:hidden;min-width:1230px;width:100%}
.container-fluid{
margin: 10px auto 5px;
    }