<div id="mainContent">
<!--dropdown control starts-->

	
		 
	<!---dropdown controls ends here-->
	
	<!---Section content Starts-->
	
	<div id="secContainer" >
		<!---Current week throw Outer Section Starts-->
		<div id="main">
	    <!-- angular templating -->
			<!-- this is where content will be injected -->
	    	<ng-jqgrid config="config" addnew="true" modeldata="patientdata" gridid="patientgrid" pagerid="patientpager" api="gridapi" style="width:800px"></ng-jqgrid>
		 </div>
	  
		<!--Yearly throw Outer Section Ends--> 
	</div>
</div>
